html, body, #root {
  height: 100%;
  background-color: #080413;
  color: white;
}

.navbar-style .nav-link:hover {
  text-decoration: none !important;
  color: #CC0133 !important;
}

.navbar-style .nav-link.active {
  color: #CC0133 !important;
}

.read-more-btn {
  background-color: black !important;
  color: white !important;
  border: 2px solid white !important;
  padding: 5px 10px !important;
  font-size: 0.875rem !important;
  transition: all 0.3s ease !important;
}

.read-more-btn:hover {
  background-color: white !important;
  color: black !important;
  border: 2px solid black !important;
}

.custom-button {
  background-color: black !important;
  color: white !important;
  border: 2px solid white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
  transition: background-color 0.3s, color 0.3s !important;
}

.custom-button:hover {
  background-color: black !important;
  color: white !important;
}

.custom-hr {
  border: 0;
  height: 8px;
  background: white;
  margin: 40px 0;
}

.no-underline {
  text-decoration: none;
}