html, body, #root {
  height: 100%;
  background-color: #080413;
  color: white;
}

.navbar-style .nav-link:hover {
  text-decoration: none !important;
  color: #CC0133 !important;
}

.navbar-style .nav-link.active {
  color: #CC0133 !important;
}

.read-more-btn {
  background-color: black !important;
  color: white !important;
  border: 2px solid white !important;
  padding: 5px 10px !important;
  font-size: 0.875rem !important;
  transition: all 0.3s ease !important;
}

.read-more-btn:hover {
  background-color: white !important;
  color: black !important;
  border: 2px solid black !important;
}

.custom-button {
  background-color: black !important;
  color: white !important;
  border: 2px solid white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
  transition: background-color 0.3s, color 0.3s !important;
}

.custom-button:hover {
  background-color: black !important;
  color: white !important;
}

.custom-hr {
  border: 0;
  height: 8px;
  background: white;
  margin: 40px 0;
}

.no-underline {
  text-decoration: none;
}

.projects-section {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.projects-section.fade-in {
  opacity: 1;
}

.projects-section-2 {
  opacity: 0;
  transition: opacity 4s ease-in-out;
}

.projects-section-2.fade-in {
  opacity: 1;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid black;
  animation: typing 2.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-1 {
  animation: fadeIn 1s ease-in-out;
}

.fade-in-2 {
  animation: fadeIn 2s ease-in-out;
}

.fade-in-3 {
  animation: fadeIn 3s ease-in-out;
}

.fade-in-4 {
  animation: fadeIn 4s ease-in-out;
}

.fade-in-5 {
  animation: fadeIn 5s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}